.git
.gitignore
.env
.venv
venv
__pycache__
*.pyc
*.pyo
.pytest_cache
.mypy_cache
.ruff_cache
media/*
staticfiles/*
node_modules
.cursor
*.md
docs
Готовый прототип главной страницы
.DS_Store
db.sqlite3
Dockerfile*
docker-compose*.yml
