{% load i18n static site_content %}
{% url 'core:home' as home_url %}
<header class="header" data-sticky-header data-enter="0">
  <div class="header__inner">
    <nav class="header__nav" data-scrollspy aria-label="{% block_plain 'site' 'header.nav_aria' %}">
      <a href="{{ home_url }}#about">{% block_plain "site" "nav.about" %}</a>
      <a href="{{ home_url }}#gallery">{% block_plain "site" "nav.gallery" %}</a>
      <a href="{{ home_url }}#services">{% block_plain "site" "nav.services" %}</a>
      <a href="{{ home_url }}#reviews">{% block_plain "site" "nav.reviews" %}</a>
      <a href="{{ home_url }}#faq">{% block_plain "site" "nav.faq" %}</a>
      <a href="{{ home_url }}#contact">{% block_plain "site" "nav.contact" %}</a>
    </nav>
    <div class="header__center">
      <span class="header__line header__line--left" aria-hidden="true"></span>
      <a href="{{ home_url }}#top" class="header__brand" aria-label="{% block_plain 'site' 'header.brand_aria' %}">
        {% if site_settings.logo %}
        <img class="header__brand-mark header__brand-mark--mono"
             src="{{ site_settings.logo.url }}"
             alt=""
             width="48"
             height="36"
             decoding="async">
        {% else %}
        <img class="header__brand-mark header__brand-mark--mono"
             src="{% static 'images/brand-monogram-header.png' %}?v={{ static_version }}"
             alt=""
             width="48"
             height="36"
             decoding="async">
        {% endif %}
        <span class="header__brand-mark header__brand-mark--text">
          <span class="header__brand-line">{% block_plain "site" "header.brand_line_1" %}</span>
          <span class="header__brand-line">{% block_plain "site" "header.brand_line_2" %}</span>
        </span>
      </a>
      <span class="header__line header__line--right" aria-hidden="true"></span>
    </div>
    <div class="header__actions">
      {% include "partials/lang-switcher.html" %}
      {% if site_settings.phone %}
      <a class="header__phone" href="tel:{{ site_settings.phone|cut:' '|cut:'-' }}">{{ site_settings.phone }}</a>
      {% endif %}
      <button type="button" class="btn btn--compact" data-open-lead data-source="header" data-service="">
        {% block_plain "site" "header.cta" %}
      </button>
    </div>
    <button type="button" class="header__burger" data-mobile-nav-open aria-label="{% block_plain 'site' 'header.menu_aria' %}"
      aria-expanded="false" aria-controls="mobile-nav">
      <span class="header__burger-line"></span>
      <span class="header__burger-line"></span>
    </button>
  </div>
</header>
