{% load i18n %}

{% if not theme %}
    <div class="relative" x-data="{ openTheme: false }">
        <a class="flex cursor-pointer h-11 w-11 items-center justify-center -mr-2 hover:text-base-700 dark:hover:text-base-200"
           x-on:click="openTheme = !openTheme"
           aria-label="Тема админки">
            <span class="material-symbols-outlined">
                <span x-text="adminTheme == 'dark' && 'dark_mode' || 'light_mode'"></span>
            </span>
        </a>

        <nav class="absolute bg-white border border-base-200 flex flex-col leading-none py-1 -right-2 rounded-default shadow-lg top-7 w-40 z-50 dark:bg-base-800 dark:border-base-700"
             x-cloak
             x-show="openTheme"
             x-transition
             x-on:click.outside="openTheme = false">
            <a class="cursor-pointer flex flex-row mx-1 px-3 py-1.5 rounded-default hover:bg-base-100 hover:text-base-700 dark:hover:bg-base-700 dark:hover:text-base-200"
               x-on:click="switchTheme('light'); openTheme = false"
               x-bind:class="adminTheme == 'light' && 'text-primary-600 dark:text-primary-500'">
                <span class="material-symbols-outlined mr-2">light_mode</span>
                <span class="leading-none self-center">Светлая</span>
            </a>

            <a class="cursor-pointer flex flex-row leading-none mx-1 px-3 py-1.5 rounded-default hover:bg-base-100 hover:text-base-700 dark:hover:bg-base-700 dark:hover:text-base-200"
               x-on:click="switchTheme('dark'); openTheme = false"
               x-bind:class="adminTheme == 'dark' && 'text-primary-600 dark:text-primary-500'">
                <span class="material-symbols-outlined mr-2">dark_mode</span>
                <span class="leading-none self-center">Темная</span>
            </a>
        </nav>
    </div>
{% endif %}
