{% load i18n static site_content %}
<section class="section section--alt" id="personality" data-section="personality">
  <div class="container">
    <div class="personality__intro" data-reveal>
      <p class="section__eyebrow">{% block_plain "home" "personality.eyebrow" %}</p>
      <div class="section__rule"></div>
      <h2 class="section__title personality__title">
        {% block_plain "home" "personality.title" %}
        <span class="section__title-accent">{% block_plain "home" "personality.title_accent" %}</span>
      </h2>
    </div>

    <div class="personality__grid" data-reveal data-reveal-delay="220">
      <div class="personality__col">
        <h3 class="personality__subtitle">{% block_plain "home" "personality.facts_title" %}</h3>
        <dl class="personality__facts">
          <div class="personality__row">
            <dt>{% block_plain "site" "personality.label_age" %}</dt>
            <dd>{% block_plain "home" "personality.age" %}</dd>
          </div>
          <div class="personality__row">
            <dt>{% block_plain "site" "personality.label_eyes" %}</dt>
            <dd>{% block_plain "home" "personality.eyes" %}</dd>
          </div>
          <div class="personality__row">
            <dt>{% block_plain "site" "personality.label_hair" %}</dt>
            <dd>{% block_plain "home" "personality.hair" %}</dd>
          </div>
          <div class="personality__row">
            <dt>{% block_plain "site" "personality.label_height" %}</dt>
            <dd>{% block_plain "home" "personality.height" %}</dd>
          </div>
          <div class="personality__row">
            <dt>{% block_plain "site" "personality.label_weight" %}</dt>
            <dd>{% block_plain "home" "personality.weight" %}</dd>
          </div>
          <div class="personality__row">
            <dt>{% block_plain "site" "personality.label_measurements" %}</dt>
            <dd>{% block_plain "home" "personality.measurements" %}</dd>
          </div>
          <div class="personality__row">
            <dt>{% block_plain "site" "personality.label_shoes" %}</dt>
            <dd>{% block_plain "home" "personality.shoes" %}</dd>
          </div>
          <div class="personality__row">
            <dt>{% block_plain "site" "personality.label_clothing" %}</dt>
            <dd>{% block_plain "home" "personality.clothing" %}</dd>
          </div>
          <div class="personality__row">
            <dt>{% block_plain "site" "personality.label_zodiac" %}</dt>
            <dd>{% block_plain "home" "personality.zodiac" %}</dd>
          </div>
          <div class="personality__row">
            <dt>{% block_plain "site" "personality.label_tattoo" %}</dt>
            <dd>{% block_plain "home" "personality.tattoo" %}</dd>
          </div>
          <div class="personality__row">
            <dt>{% block_plain "site" "personality.label_piercing" %}</dt>
            <dd>{% block_plain "home" "personality.piercing" %}</dd>
          </div>
          <div class="personality__row">
            <dt>{% block_plain "site" "personality.label_flowers" %}</dt>
            <dd>{% block_plain "home" "personality.flowers" %}</dd>
          </div>
          <div class="personality__row">
            <dt>{% block_plain "site" "personality.label_cuisine" %}</dt>
            <dd>{% block_plain "home" "personality.cuisine" %}</dd>
          </div>
          <div class="personality__row">
            <dt>{% block_plain "site" "personality.label_alcohol" %}</dt>
            <dd>{% block_plain "home" "personality.alcohol" %}</dd>
          </div>
          <div class="personality__row">
            <dt>{% block_plain "site" "personality.label_smoking" %}</dt>
            <dd>{% block_plain "home" "personality.smoking" %}</dd>
          </div>
        </dl>
      </div>

      <div class="personality__col personality__col--extra">
        <div class="personality__media">
          {% block_image "home" "personality.portrait" as portrait %}
          {% if portrait %}
          <img src="{{ portrait.url }}?v={{ static_version }}" alt="{% block_plain 'site' 'personality.portrait_alt' %}" width="560" height="700" loading="lazy">
          {% else %}
          <img src="{% static 'images/personality-portrait.jpg' %}?v={{ static_version }}"
               alt="{% block_plain 'site' 'personality.portrait_alt' %}"
               width="560"
               height="700"
               loading="lazy">
          {% endif %}
        </div>
        <ul class="personality__list">
          <li>{% block_plain "home" "personality.extra_1" %}</li>
          <li>{% block_plain "home" "personality.extra_2" %}</li>
          <li>{% block_plain "home" "personality.extra_3" %}</li>
        </ul>
        <div class="personality__notes">
          <div>{% block_html "home" "personality.languages" %}</div>
          <div>{% block_html "home" "personality.respect" %}</div>
          <div>{% block_html "home" "personality.education" %}</div>
          <div>{% block_html "home" "personality.travel" %}</div>
        </div>
      </div>
    </div>
  </div>
</section>
